<%- include('../includes/head.ejs') %>
    <%- include('../includes/navbar.ejs') %>
        <section class="place-center">
            <div>
                <h1 style="text-align:center ;font-size:30px;margin:10px">Create account</h1>
                <form action="/login" method="post">
                    <div class="form-inputs">
                        <label for="email">Email Address</label>
                        <input type="text" name="email" placeholder="xyz@gmail.com" id="">
                    </div>
                    <div class="form-inputs">
                        <label for="email">Password</label>
                        <input type="password" name="password"  id="">
                    </div>
                    <div class="form-inputs">
                        <label for="email">Confirm Password</label>
                        <input type="password" name="confirmPassword"  id="">
                    </div>
                    <div class="form-button">
                        <button class="loginBtn">Sign up</button>
                    </div>
                </form>
            </div>
        </section>

        <%- include('../includes/end.ejs') %>