#form{
  display: flex;
  flex-direction: column;
  width:340px;
  margin: auto;
}
#form label{
  margin: 8px 0;
  color: rgb(2, 39, 184);
}
#form input,textarea{
  font-size: 14px;
  padding: 3px;
}
h1{
  color: blueviolet;
}
.form-inputs{
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.form-inputs label{
  font-size: 16px;
  margin-bottom: 4px;
  color: #333;
}
.form-inputs input{
  font-size: 17px;
  padding: 5px;
  width: 350px;
  color: blueviolet;
  border-radius: 10px;
  border: transparent;
  background-color: rgb(245, 237, 237);
}
.form-button{
  display: flex;
  align-items: center;
}
.loginBtn{
  border: transparent;
  background-color: rgb(226, 226, 226);
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 10px;
  margin: 5px;
  transition: 0.3s all linear;
}
.loginBtn:hover{
  cursor: pointer;
  color: white;
  background-color: blueviolet;
}
.form-button p{
  margin-left: 5px;
  color: #333;
}