:root {
  --transition: 0.3s all linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

body {
  background-color: rgb(243, 249, 250);
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  align-items: center;
}

#navbar ul li a, #navbar ul li button {
  font-size: 19px;
  padding: 12px 14px;
  color: #333;
  transition: 0.3s all linear;
  margin: 4px;
}

#navbar ul li a:hover, #navbar ul li button:hover {
  color: rgb(2, 39, 184);
}

#navbar .active {
  color: rgb(2, 39, 184);
}

#container {
  max-width: 1200px;
  margin: auto;
}

.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.product {
  height: 640px;
  width: 380px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 3px;
  margin-bottom: 15px;
}

.product-image {
  height: 75%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.product-image img {
  width: 100%;
  background-color: #333;
  height: 100%;
}

.product-price {
  font-size: 20px;
  color: gray;
}

.product-name {
  font-size: 20px;
  color: #333;
}

.btn {
  padding: 13px;
  background-color: blueviolet;
  border: none;
  color: white;
  font-size: 13px;
  border-radius: 10px;
  transition: 0.3s all linear;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
}

.center {
  text-align: center;
}

.product-details {
  padding: 10px;

}

.flex {
  display: flex;
  justify-content: space-between;
}

.order {
  max-width: 900px;
  background-color: white;
  margin: 25px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(158, 156, 255, 0.251) 0px 5px 15px;
}

.order-content {
  display: flex;
  justify-content: space-between;
}

.order-content>div {
  padding: 20px 20px;
}

.order-content .order-items ul li {
  font-size: 20px;
}

.order-total p {
  font-size: 30px;
}

.color {
  color: blueviolet;
}

.item-order {
  width: 100px;
  height: 120px;
}

.item-order img {
  width: 100%;
  height: 100%;
}

.buttonLogin a, .buttonLogin button {
  border: none;
  background-color: blueviolet;
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  padding: 12px 25px !important;
}

.buttonLogin a:hover, .buttonLogin button:hover {
  background-color: rgb(240, 240, 247);
  color: blueviolet !important;
  box-shadow: 1px 1px 4px rgb(123, 123, 123);
  cursor: pointer;
}

.place-center {
  height: 90vh;
  display: grid;
  place-items: center;
}

.username {
  background-color: #333;
  color: white;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: blueviolet;
  max-width: 1200px;
  margin: 20px auto;
}

.color-back {
  background-color: white;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  transition: 0.3s all linear;
  width: 400px;
}

.alert {
  width: 100%;
}

.alert p {
  padding: 12px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
}

.alert .success {
  background-color: rgb(3, 176, 3);
  color: white;
}

.alert .error {
  background-color: rgb(176, 32, 3);
  color: white;
}

#navbar, #mobileNav {
  display: flex;
  justify-content: space-around;
  padding: 18px;
  align-items: center;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  border-bottom: 1px solid rgb(241, 241, 241);
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  margin: 0 10px;
}

#navbar ul li a:hover {
  color: var(--primary-color);
}

#navbar ul li a, #navbar ul li span {
  color: var(--gray);
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  padding: 0 5px;
  padding-bottom: 6px;
  transition: var(--transition);
}

.current a {
  color: var(--primary-color) !important;
}

#navbar ul li a:hover {
  color: var(--primary-color);
}

#navbar-logo {
  font-size: 25px;
  /* font-size: 20px; */
  font-family: 'Chivo Mono', monospace;
  letter-spacing: 2px;
}

#closeSideBar, #mobileNav {
  display: none;
}






/* DROPDOWN */
#navbar ul li {
  position: relative;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  /* padding: 12px 16px; */
  z-index: 1;
  padding: 10px;
}

.dropdown-content .links {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .links a {
  width: 100%;
  padding: 12px !important;
  background-color: white;
  font-size: 14px;
  border-left: 8px solid gainsboro;
  transition: var(--transition);
  white-space: nowrap;
}

.dropdown-content .links a:hover {
  padding-left: 16px !important;
  background-color: rgb(245, 245, 245);
  border-left: 8px solid var(--primary-color);

}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width:1120px) {
  #sidebarBtn {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: var(--primary-color);
    cursor: pointer;
  }

  #sidebarBtn:hover {
    color: brown;
  }

  #mobileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mobileNav {
    justify-content: space-between;
  }



  #mobileNav #navbar-logo {
    font-size: 23px;
  }


  #navbar ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  #navbar ul li {
    border-bottom: 2px solid rgb(247, 247, 247);
    transition: var(--transition);
  }

  #navbar ul li a, #navbar ul li span {
    font-size: 24px;
    width: 100%;
    display: inline-block;
    padding: 12px;
  }

  .current {
    border-bottom: 2px solid var(--primary-color) !important;
  }

  #navbar-logo {
    font-size: 30px;
    display: block !important;
  }

  #navbar {
    position: fixed;
    width: 100vw;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
    top: 0;
    z-index: 2;
    background-color: white;
    transition: var(--transition);
    transform: translateX(-100vw);
  }

  #closeSideBar {
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    padding: 20px;
  }

  #closeSideBar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 34px;
    color: red;
    transition: var(--transition);
  }

  #closeSideBar button:hover {
    color: brown;
    transform: rotate(-180deg);
  }

  .show-sidebar {
    transform: translateX(0vw) !important;
  }
}

@media screen and (max-width:1120px) {
  .dropdown-content .links a {
    font-size: 15px !important;
  }

  .dropdown-content .links {
    min-width: 180px;
  }

  .username {
    margin: 0;
  }
}

@media screen and (max-width:1250px) {
  #navbar-logo {
    display: none;
  }
}